body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}



.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}




@media (min-width:320px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }
  .letter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: white;
    color: black;
    margin: 5px;
    padding: 18px;
    border-radius: 5px;
    user-select: none;
  }
  .word .dropped {
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 5px;
    padding: 18px;
    border-radius: 5px;
    user-select: none;
  }

  
  .shuffled-letters .droppable {
    background-color: yellow;
  }
  
  .draggable:hover {
    background-color: violet;
  }
  
  .droppable {
    background-color: rgb(109, 229, 109);
  }
  .shuffled-letters .letter-box {
    cursor: grab;
  }
  .word {
    display: flex;
  }
  .word .letter-box {
    cursor: pointer;
  }
  
  .shuffled-letters {
    padding: 0px 20px 20px 20px;
    display: flex;
  }
}

@media (min-width:768px) {
 
  .letter-box {
    width: 50px;
    height: 50px;
  }
  .word .dropped {
    width: 50px;
    height: 50px;
  }
}